@import url(fields/index.css);

form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  max-width: 35rem;
  display: grid;
  gap: 1rem;
}

legend {
  font: var(--body-sm-semibold);
  color: var(--text-body);
}

fieldset + fieldset {
  margin-top: 3rem;
}

hr {
  border-color: var(--input-stroke);
  margin-top: 3rem;
  margin-bottom: 3rem;
}
